{% extends 'base.html' %}
{% load static %}



{% block content %}
<h1 class="ab">SAMSUNG</h1>



<nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Mobile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Explore</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Support
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Product Support</a></li>
              <li><a class="dropdown-item" href="#">Repair Support</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Contact us</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'image/85304b23808689.5635e29374940.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/b876b448371873.589634df0d0b9.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/maxresdefault.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <h3 class="text-center">Shop all latest offers and innovations</h3>



<div class="row">
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
    <div class="col-2 mb-5 mx-auto">
        <div class="card p-2" >
            <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Galaxy S23 Ultra</h5>
              <p class="card-text">
                * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
              </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
    </div>
</div>   
{% endblock content %}


    <h1 class="ab">SAMSUNG</h1>



    <nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Shop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Mobile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Explore</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Support
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Product Support</a></li>
                  <li><a class="dropdown-item" href="#">Repair Support</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Contact us</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>


      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'image/85304b23808689.5635e29374940.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/b876b448371873.589634df0d0b9.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/maxresdefault.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      <h3 class="text-center">Shop all latest offers and innovations</h3>



    <div class="row">
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-2 mb-5 mx-auto">
            <div class="card p-2" >
                <img src="https://image-us.samsung.com/SamsungUS/configurator/S23U-V2-Configurator-DT-800x600.jpg?$product-details-jpg$" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Galaxy S23 Ultra</h5>
                  <p class="card-text">
                    * Get a storage upgrade on us, Enjoy 512GB for the price of 256GB, Plus, get up to $750 instant trade-in credit.ᶿ, Price-2000 BDT.
                  </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
    </div>













