<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css.css' %}">
    <script src="{% static 'js/js.js' %}"></script>
    <style>div{width: fit-auto;}</style>
    <title>Document</title>
</head>

<body>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progq1q1ress-bar-animated" style="width: 70%;"></div>
  </div>










  <div class="alert alert-info alert-dismissible fade show m-auto" >
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>successful!</strong> you got money
  </div>




  <script src="js.js" ></script>
</body>
</html>